html{
  height: 100%;
}

a, a:visited{
  color: #51E2FF;
}

a:hover, a:active{
  color: #51e1fe;
}

html{
  font-family: 'Montserrat','HelveticaNeue', 'Arial', 'Helvetica', sans-serif;
}

body{
  font-family: 'Montserrat','HelveticaNeue', 'Arial', 'Helvetica', sans-serif;
  background: #333 url('../image/slice.svg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  color: #eee;
  background-color: #333;
  background-image:
    linear-gradient(
      162deg,
      #333333 0vh,
      #333333 75vh,
      #51E2FF 75vh,
      #51E2FF 240vh)
}

footer{
  text-align: center;
  width: 100vw;
  color: #333;
  position: absolute;
  bottom: 1em;
}


img.sclogo{
  /* margin-left: -20px; */
  margin-bottom: 1.5rem;
}

@media (orientation: landscape) {
  body{
    background: #333 url('../image/slice.svg') no-repeat;
    background-image:
      linear-gradient(
        162deg,
        #333333 0vh,
        #333333 110vh,
        #51E2FF 110vh,
        #51E2FF 240vh);
    }
  .row .column{
    margin-top: 5%;
  }
  footer{
    text-align: right;
    right: 1em;
  }

}

@media (orientation: portrait) {
  .row .column{
    margin-top: 10%;
  }
}

overlay{
  width: 140vw;
  left: -20vw;
  height: 40vh;
  top: -18vh;
  transform: rotate(-18deg);
  background: #fff;
  z-index: 1;
  position: absolute;
  min-height: 25em;
}
.revert-overlay{
  z-index: 3;
  color: #333;
  position: absolute;
  top: 0;
  left: 1em;
  width: 100vw;
}
ul.locations li{
  max-width: 42%;
  display: inline-block;
  vertical-align: top;
  padding: 0em 1em 0em;
}
ul.locations{
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
  font-size: 0.85em;
}
ul.locations h2{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
